
// Fonts
@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed|Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Ionicons
@import '~ionicons/dist/scss/ionicons';

#app {
  header {
    .navbar-laravel {
      background-color: $teal;
      -webkit-box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.06);
              box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.06);
      font-family: 'Barlow Condensed', sans-serif;
      -webkit-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
              transition: all 0.3s cubic-bezier(.25,.8,.25,1);

      .navbar-brand, .nav-link {
        color: white;
      }

      .navbar-toggler {
        outline: none;

        .navbar-toggler-icon {
          color: white;
        }
      }
    }

    .navbar-laravel:hover {
      -webkit-box-shadow: 0 15px 45px -9px rgba(0, 0, 0, 0.20);
              box-shadow: 0 15px 45px -9px rgba(0, 0, 0, 0.20);
    }
  }

  main {
    padding: 20px 0;
  }

  footer {

  }
}
