#admin {
  padding-top: 30px;

  .card {
    border: none;
    margin-bottom: 10px;

    .card-body {
      align-items: center;
      display: flex;
      font-family: 'Barlow Condensed', sans-serif;

      p {
        font-size: 1.6em;
        margin: 0;

        span {
          font-size: 1.6em;
          margin-right: 8px;
        }
      }
    }
  }
  .card:hover {
    background-color: #f39c12;
  }
}

#show {
  padding: 30px 15px;

  .card {
    margin-bottom: 15px;
    padding: 30px;
  }
}
